<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/css/terms-octicons-hljs-style.css">
<!-- <script async src="https://use.fontawesome.com/32c3d13def.js"></script> -->

<link rel="stylesheet" href="/css/font-awesome.min-4.7.0.css"><!-- beaker -->

<link rel="stylesheet" href="/css/octicons-3.0.1.css"><!-- beaker -->
<link rel="stylesheet" href="/css/octicons-2.4.1.css"> <!-- microscope -->
<link href="//cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet"> <!-- for highlight.js -->
<!-- <link href="/css/github.min-9.12.0.css" rel="stylesheet"> local for highlight.js -->
{{ if or .IsHome (len (findRE "^/cn/" .URL)) }}
<script async src="/js/load-typekit.js"></script>
{{ if lt (.Date.Year) 2017 }}
<script>
(function(u, c) {
  var d = document, t = 'script', o = d.createElement(t), s = d.getElementsByTagName(t)[0];
  o.src = u;
  if (c) { o.addEventListener('load', function (e) { c(e); }); }
  s.parentNode.insertBefore(o, s);
})('//cdn.bootcss.com/pangu/3.3.0/pangu.min.js', function() {
  pangu.spacingPage();
});
</script>
{{ end }}
{{ end }}